#main-container {
	padding: 20px;
}

.trade-select {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

#user_list {
	margin:auto;
}

.trade-buttons {
  text-align: center;
}

.setUpTrade {
	float:right;
  margin-right: 10px;
	background-color: #0084B4;
}

.proposal-buttons {
  padding-left: 10px;
}

.proposal-action {
  font-size: 14px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.num_left {
	color: green;
	font-size: large;
}

.no-traders-alert {
	margin-top: 10px;
}

.content-container {
	padding-top: 65px;
}

.highlight {
	background: #bfbfbf;
}

.no-highlight {
 background: #F0F4F7;
}

.tweet-clear {
	float:right;
  margin-top: 15px;
}
.user-list-clear {
	float:right;
  font-size: 14px;
}

.hidden {
	visibility: hidden;
}

/*.navbar {
	background-color: #0084B4;
	border-bottom: thick solid gray;
	border-bottom-width: 3px;
}*/

/*.navbar-brand {
	color:black;
	font-size:25px;
	font-family:verdana;
}*/

.trade-mode-tweets-styling {
	width: 50%;
	margin: auto;
}

.trade-mode-users-styling {
	width: 50%;
	margin: auto;
}

#arrow {
	width: 100px;
}

#arrow-block {
	text-align: center;
	margin-bottom: 20px;
}

/*.navbar-default .navbar-brand{
	color:black;
	margin-top: 10px;
}*/

#user-dropdown {
	margin-top:8px;
}

#signin-jumbo {
	width: 50%;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

#big-logo {
	font-size: 40px;
	font-family: verdana;
}

#friends-icon-login {
	width: 80px;
	margin-bottom: 52px;
}

#friends-icon-nav {
	width: 40px;
}

#search-submit {
	background-color: #0084B4;
}

.btn-xlarge {
  background-color: #66b2ff;
  font-family: Oswald;
	width: 400px;
    padding: 18px 28px;
    font-size: 22px; /*//change this to your desired size*/
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}

.profile 
{
    min-height: 355px;
    display: inline-block
    background-color: #F0F4F7;
}
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
/*    -webkit-box-shadow: none;
*/    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
.profile-content {
	text-align: center;
}

.twitter-typeahead .tt-hint {
  border: 0;
  padding: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.collapse-icon {
  float:right;
  margin-right: 10px;
  margin-top: 10px;
}
.remove-icon {
  margin-top: 10px;
}

.retweet-already {
  color: red;
}

/*CSS FOR NEW LAYOUTS*/

.navbar-brand-custom {
  float: none;
  }

#navbar-collapse-custom {
  border-bottom: 2px solid white;
}

.navbar-center-custom
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

#nav-logo {
  margin-top: 10px;
  height: 60px;
}

.nav-logged-in-user {
  font-size: 22px;
  margin-left: 10px;
}

#text-under-logo {
  font-size:18px;
  margin-left:5px;
  margin-bottom:5px;
}

.nav-color {
  background-color: #DFE5EA;
}

.user-icon {
  border:2px solid white;
}

.nav-dropdown {
  margin-top:10px;
  color:black;
}

.navbar-custom {
}

.layout-col {
  padding: 40px;
}

.heading {
  font-size: 30px;
  padding-bottom: 10px;
}

.tweet-panel {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding: 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.notification-tweet-panel {
  background-color: #DFE5EA;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 2px;
  border-radius: 8px;
  float:left;
  font-size: 13px;
}

.notification-date-time-retweets {
  margin-left: 10px;
}

.shout-proposal-buttons {
  margin-top: 30px;
}

.modal-tweet-panel {
  margin-top: 10px;
}

#start-new-text {
/*  margin-top: 15px;
  font-size: 22px;*/
}

.round-trader-panel {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  font-size: 16px;
}

.inner-trader-panel {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tweet-search-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-custom {
  margin-left: 0px;
  margin-right: 0px;
}

.trading-num {
  margin-top: 5px;
  font-size: 34px;
  text-align: center;
}

.trading-num-own {
  color: #00cc00;
}

.trading-num-owe {
  color: #cc3300;
}

#current-traders {
  margin-top: 10px;
}

.date-heading {
  font-size: 16px;
  margin-left: 5px;
}

.profile-modal-content {
  width: 80%;
  margin-left: 10%;
}

.profile-modal-user {
  text-align: center;
}

.profile-modal-name {
  font-size: 22px;
}
.profile-modal-screenname {
}

.profile-modal-make-deal {
  text-align:left;
}

.profile-modal-info {
  font-size: 15px;
}

.profile-modal-footer {
  text-align: center;
}

.btn-make-offer {
  background-color: #DFE5EA;
}

.form-control-custom {
  display: inline;
  width: 12%;
}

.hobbies-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Signin Page*/

.landing-heading {
  font-family: Oswald;
  font-size: 30px;
  padding-left: 20px;
  color: white;
  background-color: #293235;
  height: 70px;
  padding-top: 15px;
}

#macro-logo {
  float:right;
}

#landing-image {
  width: 100%;
  position: relative;
}

#intro-heading-text {
  padding-top: 15px;
}

.info-text {
  font-family: OpenSans-light;
  margin-left: 15px;
  margin-top: 15px;
}

.section-custom {
  vertical-align: top;
}

.fp-tableCell {
  vertical-align: top;
}

#image-overlay {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    color: white;
    margin-top: 250px;
}

#motto-text {
  font-family: Oswald;
  font-size: 50px;
}

.own-owe-heading {
  padding-left: 0px;
}

.btn-request{
  background-color: #DFE5EA;
  margin-top: 8px;
}

#requests-table {
  width: 100%;
}

.instructions {
  margin-top: 10px;
  text-align: left;
}

.user-remove-icon {
  margin-top: 17px;
  margin-right: 3px;
}

.btn-group-wrapper {
  float: right;
}

.btn-trade {
  font-size: 20px;
  color: black;
  width: 400px;
  background-color: #66b2ff;
}

.trade-request-panel {
  background-color: #F0F4F7;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.deal-heading {
  font-size: 22px;
}

#profile-page-name {
}

#profile-page-screenname {
}

.edit-profile-label {
  font-size: 20px;
}

.date-time-retweets-modal {
  margin-left: 12px;
}

.profile-modal-bio {
  margin-top:10px;
  text-align: center;
  font-size: 16px;
}

.profile-modal-interests {
  margin-top:10px;
  text-align: center;
  font-size: 16px;
}

.inner-tweet-panel {
  margin-top: 5px;
  margin-bottom: 5px;
}

#select-user-instructions {
}

@font-face {
    font-family: Oswald;
    src: url("/fonts/oswald/Oswald-Regular.ttf");
}

@font-face {
    font-family: Oswald-Light;
    src: url("/fonts/oswald/Oswald-Light.ttf");
}

@font-face {
    font-family: OpenSans-light;
    src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

body {
  background-color: #DFE5EA;
  font-family: Oswald;
}

object {
  pointer-events:none;
}

#navbar-brand-custom {
  padding: 0px 0px 0px 15px;
  height: 105px;
  color: black;
}

#footer-custom {
  border-top: 2px solid white;
}

.macro-media-logo {
  height: 60px; 
  float:left;
  padding: 5px;
  margin-left: 5px;
}

#about-shout {
  float:right;
  text-align: right;
  padding: 5px;
  margin-top: 15px;
}

.history-line-item {
  font-size: 16px;
  margin-top: 5px;
}

#reset-button {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
}

#reset-button-div {
  text-align: center;
}

#spacing-div {
  height: 35px;
}

#save-edited-profile {
  background-color: #b3b3b3;
}

.profile-button {
  background-color: #b3b3b3;
}

#btn-login {
  padding: 0px;
}

.single-login-button {
  padding: 10px;
}

.faq-question {
  font-size: 18px;
}

.param-error-text {
  color: red;
}

#tweet-scroll {
  max-height:100vh;
  overflow:auto;
  margin-top: 10px;
}

#user-scroll {
  max-height: 100vh;
  overflow: auto;
  margin-top: 10px;
}

.tweet-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.sort-by-filler {
  visibility: hidden;
}

.sort-by {
  margin-bottom: 15px;
}

.trade-request-success {
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

/*.pre-scrollable {
  max-height: none;
}*/

#panel-header {
  margin-bottom: 0px;
  text-align: center;
}

#requests-arrow {
  float: right;
}

.searchclear {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#notifications-bell {
  font-size: 24px;
  margin-top: 10px;
}

/*Badger CSS*/
.badger-outter
  {
/*  min-width: 36px;
  height: 36px;*/
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  float:left;
  position:absolute;
  top:9px;
  right:5px;
  z-index:9999;
  }
.badger-inner
  {
  min-width: 20px;
  height: 20px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #f13c31;
  background: -moz-linear-gradient(100% 100% 90deg, #f13c31, #f79690);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f79690), to(#f13c31));
    background: -webkit-linear-gradient(#f79690, #f13c31);
    background: -o-linear-gradient(#f79690, #f13c31);
    margin:3px;
    z-index:99999;
  }
.badger-badge
  {
  padding:1px 1px;
  margin:0;
  text-align:center;
  text-shadow:0px -1px 1px #e01b0f;
  z-index:999999;
  }
.badger-text
  { font-size:18px; }
.badger-number
  { font-size:14px; }

/*End badger CSS*/

#notifications-dropdown {
  background-color: #F0F4F7;
  width: 500px;
}

#requests-heading {
  margin: 5px;
  font-size: 16px;
}

.proposal-buttons-wrapper {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.notifications-user-icon {
  height: 40px;
  margin-left: 5px;
}

.promo-section {
  text-align: center;
  margin-top: 30px;
}

#promo-video {
  border: 5px solid black;
}
#signin-logo-wrapper {
  margin-top: 30px;
  text-align: center;
}
#signin-logo {
  height: 80px;
}

#signin-button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#recent-activity-heading {
  font-size: 18px;
  margin-left: 5px;
}

#tweets-wrapper {
  margin-top: -10px;
}

.date-time-retweets {
  color: gray;
}

#reload-tweets-button {
  float: right;
}

.num-tweets-offered {
  font-size: 30px;
}

.accept-request-form { 
margin: 0 auto; 
width:200px;
font-size: 20px;
}

#profile-button {
  color: black;
}

#profile-button-link {
  color: black;
}

#logout-button {
  color: black;
}
#logout-button-link {
  color: black;
}


#profile-dropdown {
  background-color: #F0F4F7;
}
#how-it-works-heading {
  font-size: 22px;
}

#how-it-works-bullets {
  font-size: 18px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}