#main-container {
	padding: 20px;
}

.trade-button {
	float:right;
}

.trade-select {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

#user_list {
	margin:auto;
}

.setUpTrade {
	float:right;
}

.proposal-buttons {
	margin-top: 10px;
	float:right;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.num_left {
	color: green;
	font-size: large;
}

.no-traders-alert {
	margin-top: 10px;
}

.content-container {
	padding-top: 65px;
}

#login-buttons-logout {
	background-color: #5bc0de;
}

.highlighted {
	background-color: #f2f2f2;
}

.tweet-clear {
	float:right;
}

.hidden {
	visibility: hidden;
}