#main-container {
	padding: 20px;
}

#trade-button-div {
	text-align: center;
}

.trade-select {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

#user_list {
	margin:auto;
}

.setUpTrade {
	/*float:right;*/
	background-color: #0084B4;
}

.proposal-buttons {
	margin-top: 10px;
	float:right;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.num_left {
	color: green;
	font-size: large;
}

.no-traders-alert {
	margin-top: 10px;
}

.content-container {
	padding-top: 65px;
}

.highlighted {
	background-color: #f2f2f2;
}

.tweet-clear {
	float:right;
	margin-top: -180px;
}
.user-list-clear {
	float:right;
}

.hidden {
	visibility: hidden;
}

.navbar {
	background-color: #0084B4;
	border-bottom: thick solid gray;
	border-bottom-width: 3px;
}

.navbar-brand {
	color:black;
	font-size:25px;
	font-family:verdana;
}

#instructions {
	text-align: center;
	font-size: 30px;
}

.trade-mode-tweets-styling {
	width: 50%;
	margin: auto;
}

.trade-mode-users-styling {
	width: 50%;
	margin: auto;
}

#arrow {
	width: 100px;
}

#arrow-block {
	text-align: center;
	margin-bottom: 20px;
}

.navbar-default .navbar-brand{
	color:black;
	margin-top: 10px;
}

#user-dropdown {
	margin-top:8px;
}

#signin-jumbo {
	width: 50%;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

#big-logo {
	font-size: 40px;
	font-family: verdana;
}

#friends-icon-login {
	width: 80px;
	margin-bottom: 52px;
}

#friends-icon-nav {
	width: 40px;
}

#search-submit {
	background-color: #0084B4;
}

.btn-custom {
  background-color: hsl(195, 79%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
  background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
  background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
  background-image: linear-gradient(#56c5eb, #1798c4);
  border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-xlarge {
	width: 400px;
    padding: 18px 28px;
    font-size: 22px; /*//change this to your desired size*/
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}

/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
*/
/*body
{
    font-family: 'Lato', 'sans-serif';
    }*/
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
/*    -webkit-box-shadow: none;
*/    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
.profile-content {
	text-align: center;
}

.twitter-typeahead .tt-hint {
  border: 0;
  padding: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}