#main-container {
	padding: 20px;
}

.trade-button {
	float:right;
}

.trade-select {
	height: 45px;
	width: 100%;
	background-color: rgba(211, 211, 211, 0.37)
}

#user_list {
	margin:auto;
}

.setUpTrade {
	float:right;
}

.proposal-buttons {
	margin-top: 10px;
	float:right;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.num_left {
	color: red;
	font-size: large;
}