#main-container {
	padding: 20px;
}

#trade-button-div {
	text-align: center;
}

.trade-select {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

#user_list {
	margin:auto;
}

.setUpTrade {
	float:right;
  margin-right: 10px;
	background-color: #0084B4;
}

.proposal-buttons {

}

.verticalLine {
    border-left: thick solid #ff0000;
}

.num_left {
	color: green;
	font-size: large;
}

.no-traders-alert {
	margin-top: 10px;
}

.content-container {
	padding-top: 65px;
}

.highlight {
	background: #bfbfbf;
}

.no-highlight {
 background: #F0F4F7;
}

.tweet-clear {
	float:right;
  margin-top: 15px;
}
.user-list-clear {
	float:right;
  font-size: 14px;
}

.hidden {
	visibility: hidden;
}

/*.navbar {
	background-color: #0084B4;
	border-bottom: thick solid gray;
	border-bottom-width: 3px;
}*/

/*.navbar-brand {
	color:black;
	font-size:25px;
	font-family:verdana;
}*/

.trade-mode-tweets-styling {
	width: 50%;
	margin: auto;
}

.trade-mode-users-styling {
	width: 50%;
	margin: auto;
}

#arrow {
	width: 100px;
}

#arrow-block {
	text-align: center;
	margin-bottom: 20px;
}

/*.navbar-default .navbar-brand{
	color:black;
	margin-top: 10px;
}*/

#user-dropdown {
	margin-top:8px;
}

#signin-jumbo {
	width: 50%;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

#big-logo {
	font-size: 40px;
	font-family: verdana;
}

#friends-icon-login {
	width: 80px;
	margin-bottom: 52px;
}

#friends-icon-nav {
	width: 40px;
}

#search-submit {
	background-color: #0084B4;
}

.btn-xlarge {
  background-color: #66b2ff;
  font-family: Oswald;
	width: 400px;
    padding: 18px 28px;
    font-size: 22px; /*//change this to your desired size*/
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}

/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
*/
/*body
{
    font-family: 'Lato', 'sans-serif';
    }*/
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
/*    -webkit-box-shadow: none;
*/    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
.profile-content {
	text-align: center;
}

.twitter-typeahead .tt-hint {
  border: 0;
  padding: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.collapse-icon {
  float:right;
  margin-right: 10px;
  margin-top: 10px;
}
.remove-icon {
  margin-top: 10px;
}

.retweet-already {
  color: red;
}

/*CSS FOR NEW LAYOUTS*/

.navbar-brand-custom {
  float: none;
  }

#navbar-collapse-custom {
  border-bottom: 2px solid white;
}

.navbar-center-custom
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

#nav-logo {
  margin-top: 10px;
  height: 60px;
}

.nav-logged-in-user {
  font-size: 22px;
}

#text-under-logo {
  font-size:18px;
  margin-left:5px;
  margin-bottom:5px;
}

.nav-color {
  background-color: #DFE5EA;
}

.user-icon {
  border:2px solid white;
}

#nav-dropdown {
  margin-top:10px;
  color:black;
}

.navbar-custom {
}

.layout-col {
  padding: 40px;
}

.heading {
  font-size: 30px;
  padding-bottom: 10px;
}

.tweet-panel {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding: 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.home-tweet-panel {
}

.modal-tweet-panel {

}

#start-new-text {
  margin-top: 15px;
  font-size: 22px;
}

.round-trader-panel {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding: 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  font-size: 16px;
}

.tweet-search-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-custom {
  margin-left: 0px;
  margin-right: 0px;
}

.trading-num {
  font-size: 36px;
  text-align: center;
}

.trading-num-own {
  color: #00cc00;
}

.trading-num-owe {
  color: #cc3300;
}

.date-heading {
  font-size: 18px;
  padding-top: 10px;
}

.profile-modal-content {
  width: 80%;
  margin-left: 10%;
}

.profile-modal-user {
  text-align: center;
}

.profile-modal-name {

}
.profile-modal-screenname {
}

.profile-modal-info {
  font-size: 15px;
}

.profile-modal-footer {
  text-align: center;
}

.btn-make-offer {
  background-color: #66b2ff;
}

.form-control-custom {
  display: inline;
  width: 10%;
}

.hobbies-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Signin Page*/

.landing-heading {
  font-family: Oswald;
  font-size: 30px;
  padding-left: 20px;
  color: white;
  background-color: #66b2ff;
  height: 70px;
  padding-top: 15px;
}

#macro-logo {
  float:right;
}

#landing-image {
  width: 100%;
  position: relative;
}

#intro-heading-text {
  padding-top: 15px;
}

.info-text {
  font-family: OpenSans-light;
  margin-left: 15px;
  margin-top: 15px;
}

.section-custom {
  vertical-align: top;
}

.fp-tableCell {
  vertical-align: top;
}

#image-overlay {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    color: white;
    margin-top: 250px;
}

#motto-text {
  font-family: Oswald;
  font-size: 50px;
}

.own-owe-heading {
  padding-left: 0px;
}

.btn-request{
  background-color: #DFE5EA;
  margin-top: 8px;
}

.instructions {
  margin-top: 10px;
  text-align: center;
}

.user-remove-icon {
  margin-top: 17px;
  margin-right: 3px;
}

.btn-trade {
  width: 400px;
  background-color: #66b2ff;
}

.trade-request-panel {
  text-align: center;
}

#profile-page-name {
}

#profile-page-screenname {
}

.edit-profile-label {
  font-size: 20px;
}

.profile-modal-bio {
  margin-top:10px;
  text-align: center;
}

.profile-modal-interests {
  margin-top:10px;
  text-align: center;
}

@font-face {
    font-family: Oswald;
    src: url("/oswald/Oswald-Regular.ttf");
}

@font-face {
    font-family: Oswald-Light;
    src: url("/oswald/Oswald-Light.ttf");
}

@font-face {
    font-family: OpenSans-light;
    src: url("/open-sans/OpenSans-Light.ttf");
}

body {
  background-color: #DFE5EA;
  font-family: Oswald;
}

object {
  pointer-events:none;
}

#navbar-brand-custom {
  padding: 0px 0px 0px 15px;
  height: 105px;
  color: black;
}

#footer-custom {
  border-top: 2px solid white;
}

.macro-media-logo {
  height: 60px; 
  float:left;
  padding: 5px;
  margin-left: 5px;
}

#about-shout {
  float:right;
  text-align: right;
  padding: 5px;
  margin-top: 15px;
}

.history-line-item {
  font-size: 16px;
  margin-top: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
