<template name="accept_trade_modal">
  <div class="modal fade" id="accept-trade-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Accept Trade Request</h4>
        </div>
        <div class="modal-body">

      <div class="round-trader-panel no-highlight row row-custom" id="accept-trade-panel">
{{#with other_user_in_trade}}
        <div class="col-xs-8">
          <div class="row inner-trader-panel">
            <div class="col-xs-3"> 
              <img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
            </div>
            <div class="col-xs-9">
                  <div>{{profile.name}}</div>
                  <div>@{{services.twitter.screenName}}</div>
            </div>
          </div>
        </div>
        {{/with}}

              <div class="col-xs-2 trading-num trading-num-own"> 
                +{{other_user_trade_amount}}
              </div>
              <div class="col-xs-2 trading-num trading-num-owe"> 
                -{{this_user_trade_amount}}
              </div>
      </div>
          <form class="accept-request-form">
              <div class="radio">
                  <label>
                    <input type="radio" name="acceptTradeRadios" id="radio-without-review" value="without_review" checked="true">
                    Allow retweets to be posted directly through my account.
                  </label>
            </div>
            <div class="radio">
                  <label>
                    <input type="radio" name="acceptTradeRadios" id="radio-with-review" value="with_review">
                    Let me review retweets that will be posted through my account.
                  </label>
            </div>
          </form>
        </div>
        <div class="modal-footer accept-trade-modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id="confirm-trade-button" class="btn btn-default">Accept</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>