<template name="current_traders">
        {{#with trader_list}}
                {{#each trades}}
                        {{#if has_more_trades this_trade_num}} 
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{#with specific_user other_user_id}}
                                    <img src="{{services.twitter.profile_image_url}}">
                                    <b>{{profile.name}}</b> @{{services.twitter.screenName}} 
                                {{/with}}
                                - <span class="num_left"><b>{{this_trade_num}}</b></span> left to send! 
                                <button class="btn btn-default trade-button">SEND!</button>
                         </div>
                         </div>
                        {{/if}}
                {{/each}}
            {{/with}}
            {{#unless has_more_trades_aggregate trades}}
                <div class="alert alert-warning no-traders-alert" role="alert">You have nobody to trade with! Request some traders to get up and running.</div>
            {{/unless}}
</template>