<template name="footer">
  <footer class="footer" id="footer-custom">
  			<div class="row">
  				<div class="col-md-3"> 
  					<object data="/images/MIT_ML_Logo_K_RGB.svg" type="image/svg+xml" class="macro-media-logo">
      					<img src="/images/mit-media-lab-logo.png" />
    				</object>
    				<object data="/images/MacroConnections_Logo_K_RGB.svg" type="image/svg+xml" class="macro-media-logo">
      					<img src="/images/MacroConnections_Logo_K_RGB.png" />
    				</object>
  				</div>
    			<div id="about-shout" class="col-md-9"> Shout! is an online tool created by Ambika Krishnamachar (@AmbikaKrishnama) with Cesar Hidalgo (@cesifoti) at the Macro Connections Group at the MIT Media Lab. Contact us at shout@media.mit.edu.</div>
  			</div>
  	</footer>
</template>