<template name="history">
	{{#if Template.subscriptionsReady}}
		<div hidden="{{existsRecentHistory}}"> You have no recent activity. </div>
			{{#each retweetEvents}}
				{{#if isNewDay time}}
					<li role="separator" class="divider"></li>
					<div class="date-heading">{{getDate time}}</div>
				{{/if}}
				<li role="separator" class="divider"></li>
				<li>
			        <div class="row">
                    {{#with getSpecificUser other_user_id}}
	                    <div class="col-md-2">
	                        <div>
	                            <img class="notifications-user-icon user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
	                        </div>
	                    </div>
	                 {{/with}}
	                    <div class="col-md-10">
	                        <div>
	                        	{{getTime time}} - 
	                        {{#unless is_original_poster}}
								You
							{{else}}
								  {{#with getSpecificUser other_user_id}}

									{{profile.name}}
									{{/with}}
							{{/unless}}
							
								<a href="https://twitter.com/statuses/{{retweet_id}}" target="_blank" >sent a Shout!</a> through
							
							{{#if is_original_poster}}
								you
							{{else}}
							{{#with getSpecificUser other_user_id}}
									{{profile.name}}
							{{/with}}
							{{/if}}
							
	                        </div>
	                    </div>
                    

                </div>		
				</li>
			{{/each}}
	{{/if}}
</template>