<template name="home">
{{> nav}}

<!-- <div class="alert alert-success trade-request-success fade-in">
  Trade request sent to Peggy Popular.
</div> -->

<div id="row">
	<div class="col-md-4">
		<div id="select-tweet-instructions" class="instructions" hidden="{{existsCurrentSelectedTweet}}"><b>Select the tweet you want to have retweeted!</b></div>
	</div>
	<div class="col-md-4">
	  {{#if existsCurrentSelectedTweet}}
		  {{#unless existsCurrentSelectedUser}}
		  		{{#if existCurrentTraders}}
		     		<div id="select-user-instructions" class="instructions"><b>Select the trader to retweet your tweet!</b></div>
		     	{{/if}}
		  {{/unless}}
	  {{/if}}
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-lg-8">
		<div class="row">
			<div class="col-sm-6 col-md-6 layout-col timeline-col">
				{{> recent_tweets}}
			</div>
			<div class="col-sm-6 col-md-6 layout-col relationships-col">
				{{> relationships}}
			</div>
		</div>
		{{#if tradeReady}}
			<div class="row trade-buttons" >
				<button class="btn btn-lg btn-primary btn-trade" id="trade-button"> Send retweet through @{{getRetweetingTrader}}</button>
				<button class="btn btn-default btn-lg" id="reset-button"> Reset </button>
			</div>
		{{/if}}
	</div>
	<div class="col-md-3 col-lg-4 layout-col activity-col"> 
		{{> history}}
	</div>
</div>
{{> footer}}

</template>