<template name="home">
{{> nav}}
<div class="row">
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-9"> 
				<div id="select-tweet-instructions" class="instructions" hidden="{{existsCurrentSelectedTweet}}"><b>Select the tweet you want to have retweeted!</b>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-1">
	</div>

	<div class="col-md-5">
		<div class="col-md-9"> 	  
			{{#if existsCurrentSelectedTweet}}
				  {{#unless existsCurrentSelectedUser}}
				  		{{#if existCurrentTraders}}
				     		<div id="select-user-instructions" class="instructions"><b>Select the trader to retweet your tweet!</b></div>
				     	{{/if}}
				  {{/unless}}
			  {{/if}}
			</div>
		<div class="col-md-3"> </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-5">
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-9"> 
				{{> recent_tweets}}
			</div>
		</div>
	</div>

	<div class="col-sm-0 col-md-1">
	</div>

	<div class="col-sm-6 col-md-5">
		<div class="col-md-9"> {{> relationships}}</div>
		<div class="col-md-3"> </div>
	</div>
</div>

{{#if tradeReady}}
	<div class="row trade-buttons" >
		<button class="btn btn-lg btn-primary btn-trade" id="trade-button">
			{{#if tradeNeedsReview}}
				Send request to Shout! through @{{getRetweetingTrader}}
			{{else}}
		 		Send Shout! through @{{getRetweetingTrader}}
			{{/if}}
		</button>
		<button class="btn btn-default btn-lg" id="reset-button"> Reset </button>
	</div>
{{/if}}

{{> footer}}

</template>