<template name="invite_modal">
  <div class="modal fade" id="invite_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<h4 class="modal-title" style="text-align:left"> Invite friends to Shout! </h4>
        </div>
        <div class="modal-body invite-modal-body">
        	<div class="alert alert-success invite-success" role="alert">Sent invite.</div>
        	<div class="alert alert-danger invite-error" role="alert">There was an error sending this direct message.</div>

			<form class="form-horizontal">
		  <div class="form-group screen-name-group">
		    <label class="col-sm-2 control-label">Screen Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="invite-twitter-handle" placeholder="@peggy_popular">
		    </div>
		  </div>
		  <div class="form-group text-danger screen-name-error">
		  	Please enter a valid screen name. 
		  </div>
		  <div class="form-group message-group">
		    <label class="col-sm-2 control-label">Message</label>
		    <div class="col-sm-10">
		      <textarea rows="5" class="form-control" id="invite-msg-text">Hey! I would like to invite you to use Shout!, a tool created by the MIT Media Lab. It allows friends to combine their social networks by trading retweets with one another. I'd love to set up a trade with you! Go to shout.media.mit.edu to sign up. :)</textarea>
		    </div>
		  </div>
		  <div class="form-group text-danger message-error">
		  	Please add content to the Message field. 
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <input type="button" class="btn btn-default" id="send-invite-btn" value="Invite to Shout!">
		    </div>
		  </div>
		</form>

        </div>
        <div class="modal-footer custom-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>