<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-custom navbar-brand" href="#">Trade-A-Retweet
            <!-- <img id="friends-icon-nav" src="friend_match_icon.png"> -->
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

        {{#if currentUser}}
        <div class="btn-group">
              <img class="dropdown-toggle" id="user-dropdown" style="cursor:pointer" data-toggle="dropdown" src="{{currentUser.services.twitter.profile_image_url}}">


              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a id="login_link" href="./">{{> loginButtons}}</a></li>
              </ul>
        </div>
        {{else}}
        <li class="active"><a id="login_link" href="./">{{> loginButtons}}</a></li>
        {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>