<template name="nav">
<nav class="navbar navbar-default navbar-custom nav-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="navbar-brand-custom" href="{{pathFor '/'}}">
        <object data="/images/ShoutLogoWithText.svg" type="image/svg+xml" id="nav-logo">
          <img src="/images/ShoutLogoWithText.png" />
        </object>
        <div id="text-under-logo">The global marketplace for retweets</div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-custom">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="row"> 
              <div class="col-md-4"> 
                  <img class="user-icon img-rounded" src="{{currentUser.services.twitter.profile_image_url}}">
              </div>
              <div class="col-md-6 nav-logged-in-user"> 
                  <div id="nav-logged-in-user-name">{{currentUser.profile.name}}</div>
                  <div id="nav-logged-in-user-screenname">@{{currentUser.services.twitter.screenName}}</div>
              </div>
              <div class="col-md-2"> 
                  <span class="caret"></span>
              </div>
            </div>
            </a>
          <ul class="dropdown-menu">
            <li><a href="{{pathFor '/profile'}}">Profile</a></li>
            <li id="logout-button"><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</template>
