<template name="nav_new">
<nav class="navbar navbar-default navbar-custom nav-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="nav-logo" class="navbar-brand" href="#">Trade Retweets</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="row"> 
              <div class="col-md-4"> 
                  <img class="user-icon" src="{{currentUser.services.twitter.profile_image_url}}">
              </div>
              <div class="col-md-6 nav-logged-in-user"> 
                  <div>{{currentUser.profile.name}}</div>
                  <div>@{{currentUser.services.twitter.screenName}}</div>
              </div>
              <div class="col-md-2"> 
                  <span class="caret"></span>
              </div>
            </div>
            </a>
          <ul class="dropdown-menu">
            <li><a href="{{pathFor '/profile'}}">Profile</a></li>
            <li><a href="#">{{>loginButtons}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</template>
