<template name="notifications">
            {{#if has_shout_requests}}
            <li id="requests-heading">Shout! Requests</li>
            {{/if}}
            {{#each shout_requests_list}}
                <li role="separator" class="divider"></li>
                {{> single_tweet}}
            {{/each}}

            {{#if has_trade_requests}}
            <li id="requests-heading">Trade Requests</li>
            {{/if}}
            {{#each requests_list}}
            <li role="separator" class="divider"></li>
            <li>
                <div class="row">
                    {{#with specific_user user_id_from}} 
                    <div class="col-md-2">
                        <div>
                            <img class="notifications-user-icon user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
                        </div>
                    </div>
                    {{/with}}

                    <div class="col-md-10">
                        {{#with specific_user user_id_from}} 
                        <div><b>{{profile.name}}</b> @{{services.twitter.screenName}} offers: </div>
                        {{/with}}

                        <div class="row">
                            <div class="col-md-6">
                                <div><b>{{proposed_to}}</b> of their retweets for</div>
                                <div><b>{{proposed_from}}</b> of your retweets.</div>
                            </div>
                            <div class="col-md-6">
                                <div class="row proposal-buttons-wrapper">
                                    <div class="btn-group proposal-buttons" role="group">
                                        <button class="btn btn-default proposal-action accept">Accept</button>
                                        <button class="btn btn-default proposal-action reject">Reject</button>
                                        <button type="button" class="btn btn-default proposal-action modify">Modify</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li role="separator" class="divider"></li>

            {{/each}}
            <li id="recent-activity-heading"> Recent Activity</li>
            {{> history}}
        </template>