
<template name="post_list">
    <div class="row">
        <div class="col-md-6">
            <!-- Trying out embedded tweet dropdown below-->
<!--             <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class=
                "btn btn-default dropdown-toggle" data-toggle="dropdown"
                type="button">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" id="first"></a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider" role="separator"></li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div> -->
            <h3>Choose a recent tweet:</h3><select class="trade-select" id="tweet-select">
            {{#each timeline}}
                <option id="{{id_str}}" value="{{text}}">
                    {{text}}
                </option>
            {{/each}}
            </select>
        </div>
        <div class="col-md-4">
            <h3>Choose a trader:</h3><select class="trade-select" id="trader-select">
                {{#with trader_list}}
                    {{#each trades}}
                            {{#if has_more_trades this_trade_num}}
                            <option value="{{other_user_id}}">
                                {{name_lookup other_user_id}}
                            </option>
                            {{/if}}
                    {{/each}}
                {{/with}}
            </select>
        </div>
        <div class="col-md-2">
            <button class=
            "btn btn-lg btn-primary trade-button">TRADE!</button>
        </div>
    </div>
</template>

