<template name="profile_modal_modify">
	 <div class="modal fade" id="modify-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content profile-modal-content">
	      <div class="modal-body">
	      	{{#with other_user}}
<!-- 	    Top section-->
			<div class="row">
				<div class="col-md-5 profile-modal-user">
					<div class="profile-modal-name heading">
					{{profile.name}}
					</div>
					<div class="profile-modal-screenname">
					<b>@{{services.twitter.screenName}}</b>
					</div>
				</div>
				<div class="col-md-2">
					<img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
				</div>
				<div class="col-md-5 profile-modal-info">
					<div> Followers: 5000
					</div>
					<div> Tweets: 157
					</div>
					<div>
						Mutual Followers: 18
					</div>

				</div>
			</div> 
			{{#if exists_bio other_user_id}}
	 	      	<div class="profile-modal-bio">
	 	      		{{bio this._id}}
		      	</div> 
	      	{{/if}}
	      	{{#if exists_interests other_user_id}}
		      	<div class="profile-modal-interests"> 
		      		<b>Interests:</b> {{interests this._id}}
		      	</div>
	      	{{/if}}

<!--  	      	<div class="recent-tweets">
 	      		{{#each other_user_timeline}}
		      	<div class="row tweet-panel modal-tweet-panel">
					<div class="col-md-2"> 
						<img class="user-icon img-rounded" src="{{user.profile_image_url}}">
					</div>
					<div class="col-md-10">
						{{text}}
					</div>
				</div>
				<div class="date-time-retweets">
					Date: May 15, 2015, 4:12pm | Retweets: 12  
				</div>
				{{/each}}
	      	</div>  -->
	      	{{#unless has_current_trade_relationship other_user_id}}
		      	<div class="profile-modal-make-deal">
		      		<div class="heading"> Modify Trade Deal</div>
		      		<div> I offer you
		      			<select class="form-control form-control-custom num-them" id="select-num-them">
			                <option>1</option>
			                <option>2</option>
			                <option>3</option>
			                <option>4</option>
			                <option>5</option>
			              </select>
			              of my retweets for 
			              <select class="form-control form-control-custom num-you" id="select-num-you">
			                <option>1</option>
			                <option>2</option>
			                <option>3</option>
			                <option>4</option>
			                <option>5</option>
			              </select> of your retweets
		      		</div>
		      	</div>
	      	{{/unless}} 
	     	{{/with}}
	      </div>
	      <div class="modal-footer profile-modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary btn-make-offer propose-modified-trade" data-dismiss="modal">Make the Offer</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>