<template name="profile_modal">
	<div class="modal profile-modal fade" id="{{_id}}" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content profile-modal-content">
			<div class="modal-header">
				{{#with get_user_by_id _id}}
				<div class="row">
					<div class="col-md-5 profile-modal-user">
						<div class="profile-modal-name">
							{{profile.name}}
						</div>
						<div class="profile-modal-screenname">
							<b>@{{services.twitter.screenName}}</b>
						</div>
					</div>
					<div class="col-md-2">
						<img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
					</div>
					<div class="col-md-5 profile-modal-info">
						<div> Followers: 147
						</div>
						<div> Tweets: 159
						</div>
						<div>
							Mutual Followers: 18
						</div>
					</div>
				</div>
				{{#if exists_bio this._id}}
				<div class="profile-modal-bio">
					<b>Bio: </b>{{bio this._id}}
				</div>
				{{/if}}
				{{#if exists_interests this._id}}
				<div class="profile-modal-interests"> 
					<b>Interests:</b> {{interests this._id}}
				</div>
				{{/if}}
				{{/with}} 
			</div>
			<div class="modal-body">
				{{#with get_user_by_id _id}}
				<div class="recent-tweets">
					{{#each other_user_timeline}}
					<div class="row tweet-panel modal-tweet-panel tweet-text">
						<div class="col-md-2"> 
							<img class="user-icon img-rounded" src="{{user.profile_image_url}}">
						</div>
						<div class="col-md-10">
							{{text}}
						</div>
					</div>
					<div class="date-time-retweets-modal">
						{{dateConverter created_at}} | Retweets: {{retweet_count}} | Favorites: {{favorite_count}}
					</div>
					{{/each}}
				</div>
				{{/with}}
			</div>
			<div class="modal-footer profile-modal-footer">
				{{#if exists_outgoing_pending_trade_request}}
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				{{else}}
					{{#with get_user_by_id _id}}
					{{#if exists_param_error}}
					<div class="param-error-text">
						Please enter integers between {{get_min_trade_param}} and {{get_max_trade_param}}.
					</div>
					{{/if}}
					<div class="profile-modal-make-deal">
						<div class="deal-heading"> {{#if modify_status}}Modify the Deal{{else}}Make a Deal{{/if}}</div>
						<div>
							I will retweet
							<input type="number" min="{{get_min_trade_param}}" max="{{get_max_trade_param}}" class="form-control form-control-custom num-them">
							tweets on your behalf if you retweet
							<input type="number" min="0" max="25" class="form-control form-control-custom num-you">
							tweets on my behalf.
						</div>
					</div>
					{{/with}}
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					{{#if exists_incoming_pending_trade_request _id}}
							<button type="button" class="btn btn-default btn-make-offer" id="propose-modified-trade">Make the Offer</button>
					{{else}}
							<button type="button" class="btn btn-default btn-make-offer" id="make-offer">Make the Offer</button>
					{{/if}}
				{{/if}}

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</template>