<template name="profile_modal">
    <div class="modal profile-modal fade" id="{{_id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content profile-modal-content">
                <div class="modal-header">
                    {{#with get_user_by_id _id}}
                    <div class="row">
                        <div class="col-xs-5 profile-modal-user">
                            <div class="profile-modal-name">
                                {{profile.name}}
                            </div>
                            <div class="profile-modal-screenname">
                                <b>@{{services.twitter.screenName}}</b>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
                        </div>
                        <div class="col-xs-5 profile-modal-info">
                            <div> Followers: {{num_followers _id}}
                            </div>
                            <div> Tweets: {{num_tweets _id}}
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </div>
                <div class="modal-body profile-modal-footer">
                    {{#with get_user_by_id _id}} 
                    {{#if exists_outgoing_pending_trade_request _id}}
                        <div class="alert alert-warning" role="alert">You already have a pending trade request to {{profile.name}}.</div>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{else}} 

                    {{#if exists_incoming_pending_trade_request _id}}
                        <div class="alert alert-warning" role="alert">You already have a pending trade request from {{profile.name}}.</div>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    {{else}}
                            <div class="error_messages">
                            {{#if exists_param_error}}
                                <div class="param-error-text">
                                    Please enter integers between {{get_min_trade_param}} and {{get_max_trade_param}}.
                                </div>
                            {{else}}
                                {{#if exists_both_zero_error}}
                                    <div class="param-error-text">
                                        Please specify at least one positive trade number.
                                    </div>
                                {{/if}} 
                            {{/if}}

                            {{#if exists_options_error}}
                                <div class="param-error-text">
                                    Please specify whether you want to review retweets sent through your account.
                                </div>
                            {{/if}}
                        </div>
                            <div class="profile-modal-make-deal">
                                <div>
                                    I will retweet you
                                    <input type="number" min="{{get_min_trade_param}}" max="{{get_max_trade_param}}" class="form-control form-control-custom num-them"> times if you retweet me
                                    <input type="number" min="0" max="25" class="form-control form-control-custom num-you"> times.
                                </div>
                                <form>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="reviewOptions" id="request-modal-without-review_{{_id}}" value="without_review"> Allow retweets to be posted directly through my account.
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="reviewOptions" id="request-modal-with-review_{{_id}}" value="with_review"> I want to review retweets that will be posted through my account.
                                        </label>
                                    </div>
                                </form>
                            </div>

                            {{#if has_current_trade_relationship _id}}
                                <div class="alert alert-warning" role="alert">You have an existing current trade with {{profile.name}}. Creating a new one will add the new trade balance onto the old, and update the review settings.</div>
                            {{/if}} 


                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        {{#if modify_status}}
                            <button type="button" class="btn btn-default btn-make-offer" id="propose-modified-trade">Make the Offer</button>
                        {{else}}
                            <button type="button" class="btn btn-default btn-make-offer" id="make-offer">Make the Offer</button>
                        {{/if}} 


                        {{/if}}

                    {{/if}}
                    {{/with}}

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>