<template name="recent_tweets_new">
	<div class="sort-by">
		Sort by: <a>latest</a> | <a>retweets</a> | <a>favorites</a>
	</div>
	<div id="tweet-search-input">
      <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
              <button class="btn" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
       </div>
  </div>

  {{#each timeline}}
	<div class="row tweet-panel home-tweet-panel">
		<div class="col-md-2"> 
			<img class="user-icon img-rounded" src="{{currentUser.services.twitter.profile_image_url}}">
		</div>
		<div class="col-md-10">
			{{text}}
		</div>
	</div>
	<div class="date-time-retweets">
		{{date_converter created_at}} | Retweets: {{retweet_count}}
	</div>
  {{/each}}

</template>