<template name="recent_tweets">
	{{#if Template.subscriptionsReady}}
		<div class="heading"> Your Latest Tweets </div>
		<div class="sort-by" id="tweet-sort-by" hidden="{{existsCurrentSelectedTweet}}">
			Sort by: <a id="sort-latest">latest</a> | <a id="sort-retweets">retweets</a> | <a id="sort-favorites">favorites</a>
		</div>
		<div id="tweet-search-div">
			<div class="input-group">
				<input type=search class="form-control" id="tweet-search-input">
				<span id="search-clear-tweets" class="glyphicon glyphicon-remove searchclear" style="margin-left: -20px"></span>
				<span class="input-group-btn">
				<button class="btn" type="button" id="search-tweets">
				<i class="glyphicon glyphicon-search"></i>
				</button>
				</span>
			</div>
		</div>
		<div id="tweet-scroll" class="pre-scrollable">
		{{#each tweetList}}
			<div class="row tweet-panel home-tweet-panel 
				{{#unless existsCurrentSelectedTweet}}
				no-highlight {{else}} highlight {{/unless}}">
				<div class="col-xs-2 inner-tweet-panel"> 
					<img class="user-icon img-rounded" src="{{currentUser.services.twitter.profile_image_url}}">
				</div>
				<div class="col-xs-10 tweet-text inner-tweet-panel">
					<div class="tweet-text">{{text}}</div>
				</div>
			</div>
			<div class="date-time-retweets">
				{{dateConverter created_at}} | Retweets: {{retweet_count}} | Favorites: {{favorite_count}}
			</div>
		{{/each}}
		</div>
	{{/if}}

</template>