<template name="recent_tweets_new">
	<div class="sort-by">
		Sort by: <a>latest</a> | <a>retweets</a> | <a>favorites</a>
	</div>
	<div id="tweet-search-input">
      <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
              <button class="btn" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
       </div>
  </div>

  {{#each timeline}}
  	{{#unless retweeted_status}}
	<div class="row tweet-panel home-tweet-panel 
	{{#unless partial_timeline_status}}
	no-highlight {{else}} highlight {{/unless}}">
		<div class="col-md-2 inner-tweet-panel"> 
			<img class="user-icon img-rounded" src="{{currentUser.services.twitter.profile_image_url}}">
		</div>
		<div class="col-md-10 inner-tweet-panel">
			{{text}}
			{{#if partial_timeline_status}}
			<a class="tweet-clear"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			{{/if}}
		</div>
	</div>
	<div class="date-time-retweets">
		{{date_converter created_at}} | Retweets: {{retweet_count}}
	</div>
	{{/unless}}
  {{/each}}

</template>