<template name="recent_tweets">
	{{#if Template.subscriptionsReady}}
		<div>
			{{> quick_tweet_modal}}
			<span class="heading" style="margin-right: -5px">Your Latest Tweets</span>
			<span style="float:right" class="hidden-xs">
				<button type="button" class="btn btn-sm btn-default quick-tweet-desktop" id="quick-tweet-button">Quick Tweet<span class="fa fa-twitter"></span></button>
				
			</span>
		</div>

		<div class="sort-by" id="tweet-sort-by">
			<span style="{{#if existsCurrentSelectedTweet}}visibility:hidden{{/if}}">Sort by: <a id="sort-latest">latest</a> | <a id="sort-retweets">retweets</a> | <a id="sort-favorites">favorites</a>
			</span>

			<span class="hidden-xs"><button type="button" class="btn btn-sm btn-default reload-tweets-desktop" id="reload-tweets-button">Reload <span class="glyphicon glyphicon-refresh"></span></button></span>

		</div>
		<div class="visible-xs-* hidden-sm hidden-md hidden-lg mobile-buttons">
			<span>
				<button type="button" class="btn btn-sm btn-default quick-tweet-mobile" id="quick-tweet-button">Quick Tweet<span class="fa fa-twitter"></span></button>
				
			</span>
			<span><button type="button" class="btn btn-sm btn-default reload-tweets-mobile" id="reload-tweets-button">Reload <span class="glyphicon glyphicon-refresh"></span></button></span>
			
		</div>
		<div id="tweet-search-div">
			<div class="input-group">
				<input type=search class="form-control" id="tweet-search-input">
				<span id="search-clear-tweets" class="glyphicon glyphicon-remove searchclear" style="margin-left: -20px"></span>
				<span class="input-group-btn">
				<button class="btn" type="button" id="search-tweets">
				<i class="glyphicon glyphicon-search"></i>
				</button>
				</span>
			</div>
		</div>
		<div id="tweet-scroll">
			<div id="tweets-wrapper">
				{{#each tweetList}}
					<div class="row tweet-panel home-tweet-panel 
						{{#unless existsCurrentSelectedTweet}}
						no-highlight {{else}} highlight {{/unless}}">
						<div class="col-xs-2 inner-tweet-panel"> 
							<img class="user-icon img-rounded" src="{{currentUser.services.twitter.profile_image_url}}">
						</div>
						<div class="col-xs-10 inner-tweet-panel">
							<div class="tweet-text">{{text}}</div>
						</div>
					</div>
					<div class="date-time-retweets">
						{{dateConverter created_at}} | <span class="glyphicon glyphicon-retweet"></span>  {{retweet_count}} | 
						<span class="glyphicon glyphicon-heart"></span> {{favorite_count}}
					</div>
				{{/each}}
			</div>
		</div>
		{{#if hasNoTweets}}
		<div class='no-tweets-text'>
			You have no tweets... Better write some! 
		</div>
		{{/if}}
	{{/if}}

</template>