<template name="relationships">
	{{#if Template.subscriptionsReady}}
		{{#unless existCurrentTraders}}
		{{#if existCurrentNonTradingUsers}}
	<div id="start-new-text" class="heading"> Start a new relationship </div>
		{{/if}}
	{{/unless}}
	{{#if existCurrentTraders}}
	<div class="heading"> Relationships </div>
		<div class="sort-by" hidden="{{existsCurrentSelectedUser}}">
		Sort by: <a>own</a> | <a>owe</a> | <a>followers</a>
		</div>
	{{/if}}
	<div id="relationship-search-div">
      <div class="input-group">
          <input type="text" class="form-control" id="relationship-search-input">
          
          <span class="input-group-btn">
              <button class="btn" type="button" id="relationship-search-submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
       </div>
  </div>
  {{#unless existsCurrentSelectedTweet}}
  	{{#unless existsCurrentSelectedUser}}
  		<div id="spacing-div"> </div>
  	{{/unless}}
  {{/unless}}

  {{#if existsCurrentSelectedTweet}}
	  {{#unless existsCurrentSelectedUser}}
	  		{{#if existCurrentTraders}}
	     		<div id="select-user-instructions" class="instructions"><b>Select the trader to retweet your tweet!</b></div>
	     	{{/if}}
	  {{/unless}}
  {{/if}}

{{#if existCurrentTraders}}
	{{/if}}

  {{#each userList.[0]}}
		<div class="round-trader-panel no-highlight row row-custom" style="{{#unless isEligibleTrader this._id}}opacity:0.5{{/unless}}">

			<div class="col-md-8">
				<div class="row inner-trader-panel">
					<div class="col-md-3"> 
						<img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
					</div>
					<div class="col-md-9">
			          <div><a class="profile-link" data-toggle="modal" data-target="#{{_id}}">{{profile.name}}</a></div>
			          <div>@{{services.twitter.screenName}}</div>
					</div>
				</div>
			</div>

			{{#with findTradeWithUser _id}}
            	{{#each trades}}
              		{{#if checkUserIdEquality ../../_id other_user_id}}
						<div class="col-md-2 trading-num trading-num-own"> 
							+{{this_trade_num}}
						</div>
						<div class="col-md-2 trading-num trading-num-owe"> 
							-{{other_trade_num}}
						</div>
			        {{/if}}
            	{{/each}}
          	{{/with}}
		</div>
		{{> profile_modal}}
	{{/each}}

  
	{{#if existCurrentNonTradingUsers}}
		{{#if existCurrentTraders}}
	<div id="start-new-text" class="heading"> Start a new relationship</div>
		{{/if}}
	{{/if}}
	{{#unless existsCurrentSelectedUser}}
		{{#each userList.[1]}} 
			<div class="row row-custom round-trader-panel no-highlight">
				<div class="col-md-2 inner-trader-panel"> 
					<img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
				</div>
				<div class="col-md-6 inner-trader-panel">
					<div><a class="profile-link" data-toggle="modal" data-target="#{{_id}}">{{profile.name}}</a></div>
			         <div>@{{services.twitter.screenName}}</div>
				</div>
				<div class="col-md-4 inner-trader-panel">
					<button type="button" class="btn btn-default btn-request profile-link" aria-label="Left Align" id="@{{services.twitter.screenName}}" data-toggle="modal" data-target="#{{_id}}" disabled="{{isRequested _id}}">
	                {{#if isRequested _id}}
	                    Pending
	                {{else}}
	                    Request
	                {{/if}}
	                </button>
				</div>
			</div>	
			{{> profile_modal}}
		{{/each}}
	{{/unless}}
{{/if}}
</template>