<template name="signin_page">
	<div id="fullpage">
	    <div class="section section-custom">
	    	<img src="/images/friends-jumping.jpg" id="landing-image">
	    	<div id="image-overlay">
	    		<div id="motto-text">"Get Your Message Further Together" </div>
	    		<!-- <button class="btn btn-custom btn-xlarge">{{>loginButtons}}</button> -->

	    		<button class="btn btn-xlarge btn-primary" id="btn-login"> {{>loginButtons}}</button>
	    	</div>
	    </div>
	    <div class="section section-custom">
	    	<div id="trade-retweets-intro-heading" class="landing-heading">
	    		<span id="intro-heading-text">What is Trade Retweets?</span>
	    		<img src="/images/macro-connections-media-lab.svg" id="macro-logo">
	    	</div>
	    	<div class="row">
	    		<div class="col-md-6 info-text">
	    			<p>
	    			Lorem ipsum dolor sit amet, eos iudico suscipit forensibus ne, per elit illum explicari ad. Hinc omnesque lucilius vix ex, ea eam zril latine graecis. Eum et natum corpora, atqui saepe no pri, sit duis indoctum ne. Tota malorum quaeque has te. Te ignota nostrum vis, vis an aeter-no concludaturque. Eum eu dolorum inermis, bonorum appareat cu duo.
	    			</p>
	    			<p>
	    			Ex mundi aliquip scribentur ius. Vivendum deseruisse eam ne, at dicunt constituam mel. Te mea eros definitionem. Maluisset suscipiantur ut quo, id pro percipit eleifend perpetua, ei his aliquam vituperata.
	    			</p>
	    			Has modus liber nobis ne, ut pertinax vituperatoribus cum, facilisis consequat adipiscing cum ne. Possit facilisis ea quo. Dico repudiare eam no. At vix habeo consulatu, ex cum labore complectitur. Ei duo iudico appellantur, cetero graecis offendit no mea, sed ea vero fuisset oporteat.
	    			<p>
	    			</p>
	    			<p>
	    			Et sumo eros mei. Deleniti adolescens appellantur mei in. Usu ei probo reque feugait, fuis-set indoctum te mea. Verterem maiestatis cum at. 
	    		</p>
	    		</div> 
	    		<div class="col-md-6">
	    		</div>
	    	</div>
	    </div>
	    <div class="section section-custom">
	    	<div id="trade-retweets-faq-heading" class="landing-heading">
	    		Frequently Asked Questions
	    	</div>
	    		<div class="info-text">
	    			<p>
	    			Lorem ipsum dolor sit amet, eos iudico suscipit forensibus ne, per elit illum explicari ad. Hinc omnesque lucilius vix ex, ea eam zril latine graecis. Eum et natum corpora, atqui saepe no pri, sit duis indoctum ne. Tota malorum quaeque has te. Te ignota nostrum vis, vis an aeter-no concludaturque. Eum eu dolorum inermis, bonorum appareat cu duo.
	    			</p>
	    			<p>
	    			Ex mundi aliquip scribentur ius. Vivendum deseruisse eam ne, at dicunt constituam mel. Te mea eros definitionem. Maluisset suscipiantur ut quo, id pro percipit eleifend perpetua, ei his aliquam vituperata.
	    			</p>
	    			Has modus liber nobis ne, ut pertinax vituperatoribus cum, facilisis consequat adipiscing cum ne. Possit facilisis ea quo. Dico repudiare eam no. At vix habeo consulatu, ex cum labore complectitur. Ei duo iudico appellantur, cetero graecis offendit no mea, sed ea vero fuisset oporteat.
	    			<p>
	    			</p>
	    			<p>
	    			Et sumo eros mei. Deleniti adolescens appellantur mei in. Usu ei probo reque feugait, fuis-set indoctum te mea. Verterem maiestatis cum at. 
	    		</p>
	    		</div> 
	    </div>	    
	    <div class="section section-custom">
	    	<div id="trade-retweets-group-heading" class="landing-heading">
	    		Who We Are
	    	</div>
	    		<div class="info-text">
	    			<p>
	    			Lorem ipsum dolor sit amet, eos iudico suscipit forensibus ne, per elit illum explicari ad. Hinc omnesque lucilius vix ex, ea eam zril latine graecis. Eum et natum corpora, atqui saepe no pri, sit duis indoctum ne. Tota malorum quaeque has te. Te ignota nostrum vis, vis an aeter-no concludaturque. Eum eu dolorum inermis, bonorum appareat cu duo.
	    			</p>
	    			<p>
	    			Ex mundi aliquip scribentur ius. Vivendum deseruisse eam ne, at dicunt constituam mel. Te mea eros definitionem. Maluisset suscipiantur ut quo, id pro percipit eleifend perpetua, ei his aliquam vituperata.
	    			</p>
	    			Has modus liber nobis ne, ut pertinax vituperatoribus cum, facilisis consequat adipiscing cum ne. Possit facilisis ea quo. Dico repudiare eam no. At vix habeo consulatu, ex cum labore complectitur. Ei duo iudico appellantur, cetero graecis offendit no mea, sed ea vero fuisset oporteat.
	    			<p>
	    			</p>
	    			<p>
	    			Et sumo eros mei. Deleniti adolescens appellantur mei in. Usu ei probo reque feugait, fuis-set indoctum te mea. Verterem maiestatis cum at. 
	    		</p>
	    		</div> 
	    </div>	    
	</div> 
</template>