<head>
		<meta name="Shout!" content="Shout! is a marketplace for retweets created by the MIT Media Lab. Shout! allows friends to exchange retweets with one another. Try it today!">
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google-site-verification" content="rBAYP6cvvPcIRu8hRO_FgCrgz2EbNcFB9UebifXzS3g" />
</head>
<template name="signin_page">
	<div class="section section-custom" id="auto-height-section">
		<div class="promo-section top-promo-section">
					<object data="/images/ShoutLogoWithText_white.svg" type="image/svg+xml" id="landing-page-logo">
         			 <img src="/images/ShoutLogoWithText.png" />
        			</object>
        			<div id="tagline">
        				Get your message further. 
        			</div>

        		<!-- 	<div id="motto-text">
        				Coming Soon!
        			</div> -->
        						<div id="signin-button-wrapper"> 
	 			<button class="btn btn-xlarge btn-primary" id="btn-login"> Sign in with Twitter</button>
			</div>

				<div class="video-wrapper">
					<iframe id="promo-iframe" src="https://player.vimeo.com/video/157641350?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			
<!-- 
			<div class="video-wrapper"> 
					<iframe id="promo-iframe" src="https://player.vimeo.com/video/157641350?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div id="motto-text">Coming Soon</div> -->
		</div>
	</div>
	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">What is Shout!?</span>

		</div>
			<div class="info-text">
			<div id="how-it-works-bullets">
				Shout! is a marketplace for retweets that helps people extend their social reach.</div>
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">How does Shout! work?</span>
		</div>
		<div id="tutorial-wrapper">
			<img id="tutorial-image" src="/images/ShoutTutorial1.png">
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">How can I set up a relationship? </span>
		</div>
		<div id="tutorial-wrapper">
			<img id="tutorial-image" src="/images/ShoutTutorial2.png">
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">Can I approve other's people retweets?</span>
		</div>
		<div class="info-text">
			<div id="how-it-works-bullets">
				When you start a trade, Shout! gives you the option to select an exchange "with" or "without" review. If you choose to trade without review, retweets will be directly triggered through your account. If you choose to trade with review, you can review tweets before they come out.</div>
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">Why would I trade retweets in a marketplace instead of just asking my friends?</span>
		</div>
		<div class="info-text">
			<div id="how-it-works-bullets">
				<p>Sure, you can always call your friend on the phone and ask them to retweet you :-), but Shout! makes this simpler. The use of a marketplace facilitates the coordination of the exchange, the tracking of previous exchanges, and the speed of the transaction. </p>
				<p>Shout! allows you to set up many trades at once, and keeps track of how many retweets are owed on both sides. This way, you and your friends are less likely to lose track of the deals you have agreed on.</p>
				</div>
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">What should I look out for?</span>
		</div>
		<div class="info-text">
			<div id="how-it-works-bullets">
				<p>Shout! gives you control over what to retweet through the people you trade with, so you should be careful about who you enter a relationship with. We suggest you only enter relationships with people you know, or at least, mutually follow on twitter.</p>
			</div>
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">Can someone I have traded retweets with access my account?</span>
		</div>
		<div class="info-text">
			<div id="how-it-works-bullets">
				<p>No. Your traders do not have direct access to your Twitter account. They cannot tweet as you,retweet anyone other than themselves, orretweet themselves more times than what you agreed on the original offer.</p>
			</div>
		</div>
	</div>

	<div class="section section-custom" id="auto-height-section">
		<div id="trade-retweets-intro-heading" class="landing-heading">
			<span id="intro-heading-text">Who are you? Where can I report complaints / bugs? </span>
		</div>
		<div class="info-text">
			<div id="how-it-works-bullets">
				<p>We’d love to hear from you! Give us a shout at: shout@media.mit.edu.</p>
				<p>Shout! is a project by the <a href="http://macro.media.mit.edu" target="_blank">Macro Connections Group</a> at the <a href="http://www.media.mit.edu" target="_blank">MIT Media Lab</a>. Shout! was developed by Ambika Krishnamachar as her Masters Thesis at MIT. Shout!'s original idea and principal investigator is Cesar A. Hidalgo, Associate Professor at The MIT Media Lab and head of the Macro Connections group. </p>
			</div>
		</div>
	</div>
</template>
