<template name="trade_requests">
	{{#if requests_list}}
	<div class="panel-group" id="accordion">
		    <div class="panel panel-default trade-request-panel">
		        <div id="panel-header" class="alert alert-info">
		             <h4 class="panel-title">
		        <div data-toggle="collapse" data-target="#requests-list" id="link_to_expand" class="collapsed" aria-expanded="false">
		          You have <b>{{num_requests}}</b> trade request(s)!<span class="glyphicon glyphicon-chevron-down" id="requests-arrow"></span>
		        </div>
		      </h4>

		        </div>
		        <div id="requests-list" class="panel-collapse collapse">
		            <div class="panel-body">
		            	<table id="requests-table">
		            				{{#each requests_list}}
		            				<tr>
										<p>
											{{#if has_current_trade_relationship user_id_from}}
							                	<div class="alert alert-warning">
													<span class="glyphicon glyphicon-warning-sign"></span>
													You have an existing trade relationship with {{name_lookup user_id_from}}. Creating a new one will add the new deal onto the old. 
												</div>
											{{/if}}
											{{#with specific_user user_id_from}} 

											 <img class="user-icon img-rounded" src="{{services.twitter.profile_image_url}}">
						                	 <b>{{profile.name}}</b> @{{services.twitter.screenName}} proposes a trade
						                	{{/with}}
						                	- You retweet <b>{{proposed_from}}</b> tweets on {{name_lookup user_id_from}}'s behalf, and {{name_lookup user_id_from}} retweets <b>{{proposed_to}}</b> tweets on your behalf!
						                	<span class="btn-group-wrapper">
							                	<div class="btn-group proposal-buttons" role="group">
													<button class="btn btn-default proposal-action accept">Accept</button>
													<button class="btn btn-default proposal-action reject">Reject</button>
													<button type="button" class="btn btn-default proposal-action modify">Modify</button>
												</div>
											</span>
										</p>
									</tr>
								 	{{/each}}
		            	</table>
		            </div>
		        </div>
		</div>
	</div>
	{{/if}}
</template>