<template name="user_list">
  <div id="user-search-input">
      <div class="input-group">
          <input type="text" class="form-control input-lg">
          <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
       </div>
  </div>


  {{#with user_list}}
  <h3>Suggested Traders</h3>
  {{#each user_list}} 
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{services.twitter.profile_image_url}}">
                <b>{{profile.name}}</b> 
                @{{services.twitter.screenName}}
                {{#unless is_trading _id}}
                          <button type="button" class="btn btn-info setUpTrade" aria-label="Left Align" id="@{{services.twitter.screenName}}" data-toggle="modal" data-target="#{{_id}}" disabled="{{is_requested _id}}">
                            {{#if is_requested _id}}
                            Request Pending
                            {{else}}
                            Request
                            {{/if}}
                          </button>
                {{/unless}}
                {{> trade_modal}}
            </div>
         </div>

 {{/each}}

 {{/with}}
</template>