<template name="user_list">
  {{#each user_list.[0]}}
      <div class="panel panel-default">
        <div class="panel-body user-panel-body">
          <img src="{{services.twitter.profile_image_url}}">
          <b>{{profile.name}}</b> @{{services.twitter.screenName}} 
          {{#with find_trade_with_user _id}}
            {{#each trades}}
              {{#if check_user_id_equality ../../_id other_user_id}}
               - <span class="num_left"><b>{{this_trade_num}}</b></span> left to send! 
              {{/if}}
            {{/each}}
          {{/with}} 
          {{#if filtered_user_list_status}}
              <a class="user-list-clear"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          {{/if}}   
        </div>
     </div>
  {{/each}}

  {{#each user_list.[1]}}
    <div class="panel panel-default user-panel">
        <div class="panel-body user-panel-body">
              <img src="{{services.twitter.profile_image_url}}">
              <b>{{profile.name}}</b> 
              @{{services.twitter.screenName}}
                        <span>
                        <button type="button" class="btn btn-info setUpTrade" aria-label="Left Align" id="@{{services.twitter.screenName}}" data-toggle="modal" data-target="#{{_id}}" disabled="{{is_requested _id}}">
                          {{#if is_requested _id}}
                          Request Pending
                          {{else}}
                          Request
                          {{/if}}
                        </button>
                        </span>
                        <span>
                        {{#if filtered_user_list_status}}
                            <a class="user-list-clear"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        {{/if}} 
                      </span>
              {{> trade_modal}}
            </div>
         </div>
  {{/each}}

</template>